{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row mr-auto" style="
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    color: #8D6011;">
        <div class="col-sm">
            <h1 style="font-weight: bold;
            font-size: 3em;">Review</h1>
        </div>
        <div class="col">
            <h1 style="font-size: 3em; margin-bottom: 40px;">about</h1>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="..." class="card-img" alt="insert image here">
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-success text-white">
                        <h5 class="card-title">ERHA</h5>
                        <p class="card-text">Acne Spot Gel</p>
                        <p class="card-text">Acne Care Lab Acne Spot Gel merupakan rangkaian produk yang diformulasikan untuk mengurangi peradangan, mempercepat penyembuhan dan mencegah hiperpigmentasi pada Spot Jerawat Aktif. 
                            Dengan gel bening sehingga dapat dapat digunakan untuk day time, karena tidakmeninggalkan bekas di kulit.</p>
                        <p class="card-text">Cara Penggunaan:</p>
                        <p class="card-text">Gunakan pada jerawat serta area sekitarnya. Biarkan mengering.</p>
                        <p class="card-text">Komposisi:</p>
                        <p class="card-text">Mengandung Sulfur, BHA dan Niacinamide untuk membantu mengatasi, mengeringkan jerawat aktif, serta mencegah timbulnya
                                noda hitam pasca jerawat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if reviews %}
        {% for s in reviews %}
            <div class="row mr-auto ">
                <h1 style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                
                color: #8D6011;
                
                ">{{ s.namaReview }}</h1>
            </div>
            <div class="row mr-auto">
                <h1 style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                
                color: #000000;">{{ s.isiReview }}</h1>
            </div>
        {% endfor %}
    {% else %}
        <div class="row mr-auto">
            <h1 style = "font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 1em;
            
            color: #8D6011;">Be the first to review this product!</h1>
        </div>
    {% endif %}
            <div class="row mr-auto">
                <a href="{% url 'reviewPage:addReview' produk %}" style="font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 1em;
                
                color: #000000;">
                    add review
                </a>
            </div>
    
    
</div>


{% endblock content %}