{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- hair category -->
    <div id="hairCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your hair problem?</p>
                            <h3>Dandruff</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- hair products recommendation -->
        <div id="hairCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Dandruff Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="Dandruff" src="https://files.catbox.moe/n240to.png" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">HEAD & SHOULDER</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Supreme Smooth Shampoo</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Argan, dikenal sebagai bahan alami untuk melembabkan kulit dan rambut. 
                                        Formula yang membantu mengunci kelembaban, 
                                        memperbaiki rambut kusam sehingga sehingga rambut tampak 
                                        berkilau dan terasa lembut.</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'HEAD & SHOULDER' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.headandshoulders.co.id/id-id/belanja-produk/shampo/supreme-smooth-shampo-anti-ketombe" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="Dandruff" src="https://files.catbox.moe/ugwkco.png" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">RUDY HADISUWARNO</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Anti Dandruff Serum</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Serum ini bekerja melalui Triple Active Care Treatment 
                                        yang membantu menghilangkan ketombe, kemerahan, dan iritasi ringan pada kulit kepala 
                                        serta membersihkan sekaligus menjaga kelembapan kulit kepala. </p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'RUDY HADISUWARNO' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://www.tokopedia.com/vavabeauty4ever/obat-anti-ketombe-rudy-hadisuwarno-anti-dandruff-serum" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}