{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- skin category -->
    <div id="skinCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your skin type?</p>
                            <h3>Kulit Kering</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- skin products recommendation -->
        <div id="skinCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Dry Skin Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="dry-skin" src="https://files.catbox.moe/0rttdb.jpg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">MUSTIKA RATU</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Mustika Ratu Hand & Body Lotion Zaitun</p>                                  </p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Mustika Ratu Zaitun Hand and Body Lotion merupakan losion pelembab yang mudah menyerap pada kulit, 
                                        membantu menjaga kelembutan dan kelembaban kulit.</p></br>
                            </div>
                          </div>
                          <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'MUSTIKA RATU' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://shopee.co.id/Hand-and-body-lotion-zaitun-mustika-ratu-i.70376683.1357556860/similar?from=ads&gclid=CjwKCAjwxaXtBRBbEiwAPqPxcPd0Hq-rn-I8MFlcFzTFWUjrNaYA2tgiGsTG8aoVpVKStTaBcyOhshoC740QAvD_BwE" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="dry-skin" src="https://files.catbox.moe/lfbt6y.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">NIVEA</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Nivea Intensive Moisture Lotion</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Nivea Body Lotion Intensive Moisture dilengkapi formula yang diperkaya dengan Grape Seed 
                                        & Avocado Oil untuk melembabkan kulit secara intensif dan merawat kulit. Formulanya dapat 
                                        mengembalikan dan melengkapi kelembaban yang hilang, meningkatkan lapisan alami pelindung 
                                        kulit, dan memberikan kelembaban selama 24 jam. Telah diuji secara dermatologis cocok untuk 
                                        kulit, tidak mengandung pewarna.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'NIVEA LOTION' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://shopee.co.id/Nivea-Body-Lotion-Intensive-Moisture-400ml-i.8500136.215326515" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}