{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- face category -->
    <div id="faceCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your face's skin type?</p>
                            <h3>Kering</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- face products recommendation -->
        <div id="faceCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Dry Skin Face Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="Kering" src="https://files.catbox.moe/tmj38k.jpg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">PYUNKANG YUL</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Moisture Serum</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Menjaga keseimbangan antara minyak dan air pada kulit serta mencegah hidrasi dari penguapan untuk 
                                        efek dewy yang lebih tahan lama. Mengandung Barberry Root Extract bekerja untuk mengurangi suhu kulit 
                                        untuk menenangkan kulit yang sensitif dan iritasi.</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'PYUNKANG YUL' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.sociolla.com/skin-care/12331-moisture-serum.html" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="HairLoss" src="https://files.catbox.moe/92m4lj.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">COSRX</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Honey Ceramide Full Moisture Cream</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Krim wajah yang mengandung Ceramides dan ekstrak dari madu, untuk mencegah kulit kehilangan kelembapan 
                                        dan melindungi kulit agar tidak kering. Produk ini juga membuat kulit selalu lembut. </p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'COSRX' %}" class="link">Review</a>
                                </div>
                            <div class="row">
                                <a href = "https://www.sociolla.com/skin-care/9598-honey-ceramide-full-moisture-cream.html" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}