{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- skin category -->
    <div id="skinCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your skin type?</p>
                            <h3>Sensitif</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- skin products recommendation -->
        <div id="skinCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Sensitif Skin Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="SensitifSkin" src="https://files.catbox.moe/hksev8.Jpeg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">ORIFLAME</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Happy Skin Care Body Lotion Sensitive Skin</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Diformulasikan dengan minyak penuh nutrisi yang berasal dari Pumpkin Seed, Linseed dan Sesame, 
                                        Happy Skin memberikan hidrasi 24 jam untuk seluruh keluarga Anda.</p></br>
                            </div>
                          </div>
                          <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'ORIFLAME' %}" class="link">Review</a>
                                </div>
                          <div class="row">
                              <a href="https://shopee.co.id/Happy-Skin-Caring-Body-Lotion-for-Sensitive-skin-i.17412649.2346899773" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="SensitifSkin" src="https://files.catbox.moe/bv4i4y.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">CETAPHIL</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Daily Advance Ultra Hydrating</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Cetaphil Daily Advance Ultra Hydrating Lotion merupakan lotion sehari-sehari yang cocok 
                                        digunakan bagi yang memiliki kulit kering. Produk ini tidak berminyak, 
                                        dan tidak menimbulkan komedo. Dapat melembabkan kulit selama 24 jam.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                    <a href = "{% url 'reviewPage:productReview' 'CETAPHIL HYDRATING' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://shopee.co.id/Cetaphil-Daily-Advance-Ultra-Hydrating-Lotion-85G-i.11277516.80750442" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}