{% extends "base.html" %}
    {% load static %}
    {% block customhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
    {% endblock customhead %}
    {% block content %}
    <!-- skin category -->
    <div id="skinCategory">
      <div class="container">
        <div class="row">
          <div id="category" class="col">
            <h1>Hello, there^^</h1>
              <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {% if gagal %}
                      <p>What's your name?</p>
                      {{skinCategory.nama}}
                      <p>What is your skin type?</p>
                      {{skinCategory.skinCategory}}
                      <p style="color: red;"><b>Nama anda belum terdaftar!</b></p>
                    {% else %}
                      <p>What's your name?</p>
                      {{skinCategory.nama}}
                      <p>What is your skin type?</p>
                      {{skinCategory.skinCategory}}
                    {% endif %}
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col">
            </div>
        </div>
      </div>
  </div>
    {% endblock content %}
