{% extends "base.html" %}
{% load static %}

{% block customhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleAdvice.css' %}">
{% endblock customhead %}

{% block content %}
    <!-- header advice -->
    <header class="container pb-5">
        <h1 class="display-3 text-light heading">We need your<br>advice</h1>
        <br>
        <section class="jumbotron">
            <div class="adviceJumbotron">
                <form method="POST" action="{% url 'advice:ya' %}">
                    {% csrf_token %}
                    <table>
                        {{advice_form.as_table}}
                    </table>
                    <div>
                        <input type="submit" value="Send your advice" name="tombol">
                    </div>
                </form>
            </div>
        </section>


    </header>
{% endblock content %}