{% extends 'base.html' %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customhead %}

{% block content %}

<div id='homepage'>
    <div class="container">
        <div class="box">
            <div class="row">
              <h1 class="hello col-md-12 col-sm-12">Hello,</h1>
            </div>
            <div class="row">
                <h1 class="welcome col-md-12 col-sm-12">Welcome to Bodyology</h1>
            </div>
            <div class="row">
              <h3 class="brief col-md-12 col-sm-12">Let me help you to find the best products for you</h3>
            </div>
        </div>
    </div>
</div>

<div id='homepage2'>
  <div class='container'>
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="box-2">
              <div class="row">
                  <h2 class="title-1">Personalized product recommendation that match your needs</h2>
                </div>
                <div class="row">
                  <h6 class="title-2">Join today and get the best care for your body</h6>
                </div>
          </div>
        </div>

        <div class="form col-md-6 col-sm-12">
            <form method="POST" action="{% url 'homepage:home' %}" class="form-group">
                {% csrf_token %}
                {% if ada %}
                    <p class="row warning">This name is already taken</p>
                    <div class="pad row">
                        <h6 class="question">What is your name?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.name }}
                    </div>
                    <div class="pad question row">
                        <h6 class="question">What is your gender?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.gender }}
                    </div>
                    
                    <div class=" button-submit row">
                        <input type="submit" value="Submit" class="btn btn-primary" >
                    </div>
                {% elif tidak_valid %}
                    <p class="row warning">Your input is not valid</p>
                    <div class="pad row">
                        <h6 class="question">What is your name?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.name }}
                    </div>
                    <div class="pad question row">
                        <h6 class="question">What is your gender?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.gender }}
                    </div>
                    
                    <div class=" button-submit row">
                        <input type="submit" value="Submit" class="btn btn-primary" >
                    </div>
                {% else %}
                    <div class="pad row">
                        <h6 class="question">What is your name?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.name }}
                    </div>
                    <div class="pad question row">
                        <h6 class="question">What is your gender?</h6>
                    </div>
                    <div class="form-pad row">
                        {{ form.gender }}
                    </div>
                    
                    <div class=" button-submit row">
                        <input type="submit" value="Submit" class="btn btn-primary" >
                    </div>
                {% endif %}
            </form>
        </div> 
  </div>

</div>

{% endblock content %}