{% extends 'base.html' %}
{% load static %}

{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customhead %}

{% block content %}
<div class="container">
    <div id="summary">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 id="summary-title">Summary</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered">
                    <thead>
                      <tr class="table-head">
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Hair</th>
                            <th>Face</th>
                            <th>Skin</th>
                      </tr>
                    </thead>
                            
                    <tbody>
                            {% for p in person %}
                                <tr>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.gender }}</td>
                                    <td>{{ p.get_hair_values }}</td>
                                    <td>{{ p.get_face_values }}</td>
                                    <td>{{ p.get_skin_values }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}